.enjoy-music{
    margin-top: 80px;
}
.new-line{
    border: 2px solid rgb(7, 7, 7);
    border-radius: 5px;
    width: 390px;
    text-align: center;
    align-items: center;
    margin-left: 35%;
}
.content{
    margin-top: 70px;
}
.enjoy-music-paragraph{
    text-align: justify;
    align-items: center;
    margin-top: 360px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.616);
}